.btn {
    background: none;
    border: none;
    cursor: pointer;
}

.hero__button {
    border: solid 2px var(--white-color);
    width: 100%;
    padding: 4%;
    color: var(--white-color);
    transition: all .3s ease-in-out;
}

.hero__button:hover {
    background-color: var(--white-color);
    color: var(--blue-color);
}