

/* ================== CONTACT FORM ===================== */

.contact__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.contact__input {
    min-height: 3em;
    outline: none
}