

.header__nav {
    background-color: aqua;
    position: absolute;
    right: 0%;
    left: 0%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .3s ease-in-out;
}

.nav__ul {
    background-color: rgb(98, 151, 98);
}

.nav__li {
    background-color: yellow;
    padding: 0.5em 0em;
    text-align: right;
}

.nav__link {
    background-color: skyblue;
}

.nav--active {
    transform: scaleY(1);
}